# Assignment on Store_sales dataset

**Load the Dataset**

In [1]:
import pandas as pd
sales=pd.read_csv("store_sales.csv")
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  100 non-null    object
 1   city      100 non-null    object
 2   Jan       100 non-null    int64
 3   Feb       100 non-null    int64
 4   Mar       100 non-null    int64
 5   Apr       100 non-null    int64
 6   May       100 non-null    int64
 7   Jun       100 non-null    int64
 8   July      100 non-null    int64
 9   Aug       100 non-null    int64
 10  Sep       100 non-null    int64
 11  Oct       100 non-null    int64
 12  Nov       100 non-null    int64
 13  Dec       100 non-null    int64
dtypes: int64(12), object(2)
memory usage: 11.1+ KB
None

**Calculate the total sales for each store across all months.**

In [21]:
sales['total_sales'] = sales.iloc[:, 2:14].sum(axis=1)
print(sales[['total_sales']])

    total_sales
0           178
1           174
2           181
3           135
4           159
..          ...
95          185
96          154
97          168
98          173
99          180

[100 rows x 1 columns]

**Find the average sales for each month across all stores**

In [22]:
avg=sales.iloc[:,2:14].mean()
print(avg)

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

**Identify the store with the highest total sales.**

In [4]:
max_sales=sales.loc[sales['total_sales'].idxmax()]
print(max_sales)

store_id             S_62
city           California
Jan                    16
Feb                    21
Mar                     6
Apr                    22
May                    22
Jun                     9
July                   21
Aug                    21
Sep                    22
Oct                    17
Nov                    16
Dec                    21
total_sales           214
Name: 61, dtype: object

**Calculate the total sales for each city.**

In [14]:
city_sales = sales.groupby('city')['total_sales'].sum()
print(city_sales)

city
Arizona       3951
California    7522
Texas         5939
Name: total_sales, dtype: int64

**List stores with total sales greater than 200**

In [20]:
list_store=sales[sales['total_sales'] > 200]
print(list_store[['store_id','total_sales']])

   store_id  total_sales
37     S_38          207
39     S_40          204
50     S_51          210
61     S_62          214
69     S_70          206
72     S_73          213
77     S_78          211
85     S_86          214
86     S_87          203
92     S_93          204

**Which month had the highest average sales across all stores?**

In [27]:
high_month=avg.idxmax()
print(high_month)

Aug

**Which city generated the most revenue?**

In [34]:
highest_revenue = city_sales.idxmax()
print(f"The city with the highest revenue is {highest_revenue} with a total revenue of {city_sales[highest_revenue]}")

The city with the highest revenue is California with a total revenue of 7522